
h1{
  color: white;
  
  text-align: center;
} 
/* CSS Centering Code with the h2 Selector "*" */ 

/* Styling */

body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif; 
  
  background-color: black; 
}
